<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="display-4 animated fadeInDown">Full Profile</h1>
    </div>
  </div>
</div>
<hr>

<!-- Drivers -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="animated fadeInRight">What moves you?</h1>
      <h2 class="animated fadeInRight">Drivers</h2>
    </div>
  </div>
</div>
<div class="container text-center animated fadeInRight">
  <table class="table table-bordered">
    <thead>
    <tr class="white-text">
      <th class="purple lighten-2"></th>
      <th class="purple lighten-2">Power</th>
      <th class="purple lighten-2">Your Focus</th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-left">
      <td class="purple white-text">Driver 15 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Driver 14 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Driver 13 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </td>
      <td>This driver really motivates you!</td>
      <td>Var Class</td>
    </tr>
    <tr class="text-left">
      <td class="purple white-text">Driver 12 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Driver 11 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Driver 10 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Driver 9 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Driver 8 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </td>
      <td>This driver can help you, but does not have the punch you need!</td>
      <td>Var Class</td>
    </tr>
    <tr class="text-left">
      <td class="purple white-text">Driver 7 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Driver 6 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Driver 5 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Driver 4 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Driver 3 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Driver 2 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Driver 1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </td>
      <td>Caution: this is a false driver. Won't get you to the finish line</td>
      <td>Var Class!</td>
    </tr>
    </tbody>
  </table>
</div>
<!-- /Drivers -->
<br>
<br>
<!-- Drivers Recommended resources -->
<div class="container animated fadeInRight" >
  <div class="row">
    <div class="col-md-12">
      <h1>Go deeper</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 text-center white-text orange lighten-1">
      <br>
      <br>
      <br>
      <h1 class="display-4">Recommended resources</h1>
      <br>
      <br>
    </div>
    <div class="col-md-6 blue-grey lighten-5">
      <br>
      <p>Standard Rec</p>
      <hr>
      <p>Standard Rec</p>
      <hr>
      <p>Standard Rec</p>
    </div>
  </div>
</div>
<!-- /Drivers Recommended resources -->
<br>
<hr>
<br>
<!-- Fears -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="animated fadeInRight">What frightens you?</h1>
      <h2 class="animated fadeInRight">Fears</h2>
    </div>
  </div>
</div>

<div class="container text-center animated fadeInRight">
  <table class="table table-bordered">
    <thead>
    <tr class="white-text">
      <th class="purple lighten-2"></th>
      <th class="purple lighten-2">Power</th>
      <th class="purple lighten-2">Recommendation</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th class="purple white-text" scope="row">Fear 10 - Lorem ipsum dolor sit amet.
        <br>Fear 9 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </th>
      <td>These fears could motivate you!</td>
      <td>Reframe all your decisiones to solve these fears</td>
    </tr>
    <tr>
      <th class="purple white-text" scope="row">Fear 8 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Fear 7 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Fear 6 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </th>
      <td>This driver can help you, but does not have the punch you need!</td>
      <td>Just check them out: won't stop you, but could slow you down</td>
    </tr>
    <tr>
      <th class="purple white-text" scope="row">Fear 5 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Fear 4- Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Fear 3 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Fear 2 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Fear 1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </th>
      <td>Caution: this is a false driver. Won't get you to the finish line</td>
      <td>Have you heard of self-sabotage? These are the culprits: don't listen to them!</td>
    </tr>
    </tbody>
  </table>
</div>
<!-- /Fears -->

<br>
<br>

<!-- Risk Management Index -->
<div class="container animated fadeInRight" >
  <div class="row">
    <div class="col-md-12">
      <h1 >Your Risk Management index</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 text-center white-text purple lighten-2">
      <br>
      <br>
      <br>
      <h1 class="display-3">87/100</h1>
      <br>
      <br>
    </div>
    <div class="col-md-6 blue-grey lighten-5">
      <br>
      <p>You have a good capacity to face and overcome your fears!</p>
      <p>Recommendation: do not settle for small challenges. Push yourself to stay out of your status quo.</p>
      <br>
      <p>Recommendation: do not settle for small challenges. Push yourself to stay out of your status quo.</p>
    </div>
  </div>
</div>

<!-- /Risk Management Index -->


<br>
<br>

<!-- Resilience Index -->
<div class="container animated fadeInRight" >
  <div class="row">
    <div class="col-md-12">
      <h1>Your Resilience index</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 text-center white-text purple lighten-2">
      <br>
      <br>
      <br>
      <h1 class="display-3">24/30</h1>
      <br>
      <br>
    </div>
    <div class="col-md-6 blue-grey lighten-5">
      <br>
      <p>You have a good capacity to face and overcome your fears!</p>
      <p>Recommendation: do not settle for small challenges. Push yourself to stay out of your status quo.</p>
      <br>
      <p>Recommendation: do not settle for small challenges. Push yourself to stay out of your status quo.</p>
    </div>
  </div>
</div>
<!-- /Resilience Index -->

<br>

<!-- Fear Recommended resources -->
<div class="container" >
  <div class="row">
    <div class="col-md-12">
      <h1 class="animated fadeInRight">Go deeper</h1>
    </div>
  </div>
  <div class="row animated fadeInRight">
    <div class="col-md-6 text-center white-text orange lighten-1">
      <br>
      <br>
      <br>
      <h1 class="display-4">Recommended resources</h1>
      <br>
      <br>
    </div>
    <div class="col-md-6 blue-grey lighten-5">
      <br>
      <p>Standard Rec</p>
      <hr>
      <p>Standard Rec</p>
      <hr>
      <p>Standard Rec</p>
    </div>
  </div>
</div>
<!-- /Fear Recommended resources -->
<br>
<hr>
<br>

<!-- Recommendation Grid -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="animated fadeInRight">Recommendation Grid</h1>
    </div>
  </div>
</div>
<div class="container text-center animated fadeInRight">
  <table class="table table-bordered">
    <thead>
    <tr class="white-text">
      <th class="purple lighten-2"></th>
      <th class="purple lighten-2">Energy</th>
      <th class="purple lighten-2">Health</th>
      <th class="purple lighten-2">Governance</th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-left">
      <td class="purple white-text">Nanotech
      </td>
      <td>Solve Energy through tech
        <br>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
      </td>
      <td>Solve Health through tech
        <br>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
      </td>
      <td>Solve Governance through tech
        <br>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
      </td>
    </tr>
    <tr class="text-left">
      <td class="purple white-text">New BM
      </td>
      <td>Solver Energy through New BM
        <br>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
      </td>
      <td>Solve Health through New BM
        <br>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
      </td>
      <td>Solve Governance through new BM
        <br>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
      </td>
    </tr>
    <tr class="text-left">
      <td class="purple white-text">Social Networks
      </td>
      <td>Solve Energy through SN
        <br>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
      </td>
      <td>Solve Health through SN
        <br>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
      </td>
      <td>Solve Governance through SN
        <br>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<!-- /Recommendation Grid -->

<br>
<br>

<app-usuariofooter></app-usuariofooter>
