<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="display-4 animated fadeInDown">Full Profile</h1>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="animated fadeInRight">What moves you?</h1>
      <h2 class="animated fadeInRight">Drivers</h2>
    </div>
  </div>
</div>

<div class="container text-center animated fadeInRight">
  <table class="table table-bordered">
    <thead>
    <tr class="white-text">
      <th class="purple lighten-2"></th>
      <th class="purple lighten-2">Power</th>
      <th class="purple lighten-2">Your Focus</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th class="purple white-text" scope="row">Driver 15 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Driver 14 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Driver 13 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </th>
      <td>This driver really motivates you!</td>
      <td>Var Class</td>
    </tr>
    <tr>
      <th class="purple white-text" scope="row">Driver 12 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Driver 11 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Driver 10 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Driver 9 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Driver 8 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </th>
      <td>This driver can help you, but does not have the punch you need!</td>
      <td>Var Class</td>
    </tr>
    <tr>
      <th class="purple white-text" scope="row">Driver 7 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Driver 6 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Driver 5 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Driver 4 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Driver 3 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Driver 2 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Driver 1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </th>
      <td>Caution: this is a false driver. Won't get you to the finish line</td>
      <td>Var Class!</td>
    </tr>
    </tbody>
  </table>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="animated fadeInRight">What frightens you?</h1>
      <h2 class="animated fadeInRight">Fears</h2>
    </div>
  </div>
</div>

<div class="container text-center animated fadeInRight">
  <table class="table table-bordered">
    <thead>
    <tr class="white-text">
      <th class="purple lighten-2"></th>
      <th class="purple lighten-2">Power</th>
      <th class="purple lighten-2">Recommendation</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th class="purple white-text" scope="row">Fear 10 - Lorem ipsum dolor sit amet.
        <br>Fear 9 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </th>
      <td>These fears could motivate you!</td>
      <td>Reframe all your decisiones to solve these fears</td>
    </tr>
    <tr>
      <th class="purple white-text" scope="row">Fear 8 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Fear 7 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Fear 6 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </th>
      <td>This driver can help you, but does not have the punch you need!</td>
      <td>Just check them out: won't stop you, but could slow you down</td>
    </tr>
    <tr>
      <th class="purple white-text" scope="row">Fear 5 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Fear 4- Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Fear 3 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Fear 2 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br>Fear 1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </th>
      <td>Caution: this is a false driver. Won't get you to the finish line</td>
      <td>Have you heard of self-sabotage? These are the culprits: don't listen to them!</td>
    </tr>
    </tbody>
  </table>
</div>

<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="animated fadeInRight">Your Risk Management index</h1>
    </div>
  </div>
</div>
