.gradient-fear01 {
	background-color: #159957; /* Standard syntax */
	width:350px;
	height:235px;
}

.gradient-fear02 {
	background-color: #4CA1AF; /* Standard syntax */
	width:350px;
	height:235px;
}

.gradient-fear03 {
	background-color:	#ff8235;/* Standard syntax */
	width:350px;
	height:235px;
}