<br>
<br>
<br>
<br>
<div class="container">
  <div class="divider-new mt-0">
    <h1 class="display-4 animated fadeInDown text-center">What really moves you</h1>
  </div>
</div>


<div class="section container">
  <div class="row mb-r">
    <div class="col-md-6">
      <!--Card-->
      <div class="card animated fadeInLeft">

          <!--Card image-->
          <img class="img-fluid" src="assets/card1.jpg" alt="Card image cap">
          <!--/.Card image-->

          <!--Card content-->
          <div class="card-block">
              <!--Title-->
              <h4 class="card-title">Autonomy</h4>
              <!--Text-->
              <p class="card-text">This driver really motivates you!</p>
              <ul class="list-group">
                  <li class="list-group-item justify-content-between">
                      Being able to make things happen.
                      <span class="badge badge-primary badge-pill">1</span>
                  </li>
                  <li class="list-group-item justify-content-between">
                      Obtain things that I&#39;ve always wanted.
                      <span class="badge badge-primary badge-pill">2</span>
                  </li>
                  <li class="list-group-item justify-content-between">
                      Working doing what I like.
                      <span class="badge badge-primary badge-pill">3</span>
                  </li>
                  <li class="list-group-item justify-content-between">
                      Having independence.
                      <span class="badge badge-primary badge-pill">4</span>
                  </li>
              </ul>
          </div>
          <!--/.Card content-->

      </div>
      <!--/.Card-->
    </div>
    <div class="col-md-6">
      <!--Card-->
      <div class="card animated fadeInRight">

          <!--Card image-->
          <img class="img-fluid" src="assets/card2.jpg" alt="Card image cap">
          <!--/.Card image-->

          <!--Card content-->
          <div class="card-block">
              <!--Title-->
              <h4 class="card-title">Mastery</h4>
              <!--Text-->
              <p class="card-text">This driver can help you, but does not have the punch you need!</p>
              <ul class="list-group">
                  <li class="list-group-item justify-content-between">
                      Achieving my goals.
                      <span class="badge badge-primary badge-pill">5</span>
                  </li>
                  <li class="list-group-item justify-content-between">
                      Being the best in what I do.
                      <span class="badge badge-primary badge-pill">6</span>
                  </li>
                  <li class="list-group-item justify-content-between">
                      Beating challenges.
                      <span class="badge badge-primary badge-pill">7</span>
                  </li>
                  <li class="list-group-item justify-content-between">
                      Acquiring new skills.
                      <span class="badge badge-primary badge-pill">8</span>
                  </li>
              </ul>
          </div>
          <!--/.Card content-->

      </div>
      <!--/.Card-->
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <!--Card-->
      <div class="card animated fadeInLeft">

          <!--Card image-->
          <img class="img-fluid" src="assets/card3.jpg" alt="Card image cap">
          <!--/.Card image-->

          <!--Card content-->
          <div class="card-block">
              <!--Title-->
              <h4 class="card-title">Purpose</h4>
              <!--Text-->
              <p class="card-text">Caution: this is a false driver. Won't get you to the finish line.</p>
              <ul class="list-group">
                  <li class="list-group-item justify-content-between">
                      Giving sense to my job. 
                      <span class="badge badge-primary badge-pill">9</span>
                  </li>
                  <li class="list-group-item justify-content-between">
                      Creating a positive impact in the world. 
                      <span class="badge badge-primary badge-pill">10</span>
                  </li>
                  <li class="list-group-item justify-content-between">
                      Satisfying my curiosity. 
                      <span class="badge badge-primary badge-pill">11</span>
                  </li>
                  <li class="list-group-item justify-content-between">
                      Being happy.
                      <span class="badge badge-primary badge-pill">12</span>
                  </li>
              </ul>
          </div>
          <!--/.Card content-->

      </div>
      <!--/.Card-->
    </div>
    <div class="col-md-6">
      <!--Card-->
      <div class="card animated fadeInRight">

          <!--Card image-->
          <img class="img-fluid" src="assets/card4.jpg" alt="Card image cap">
          <!--/.Card image-->

          <!--Card content-->
          <div class="card-block">
              <!--Title-->
              <h4 class="card-title">Community</h4>
              <!--Text-->
              <p class="card-text">This driver has barely no influence on your decisions.</p>
              <ul class="list-group">
                  <li class="list-group-item justify-content-between">
                      Having more status.
                      <span class="badge badge-primary badge-pill">13</span>
                  </li>
                  <li class="list-group-item justify-content-between">
                      Enjoying access to exclusive places and events.
                      <span class="badge badge-primary badge-pill">14</span>
                  </li>
                  <li class="list-group-item justify-content-between">
                      Relating with other people. 
                      <span class="badge badge-primary badge-pill">15</span>
                  </li>
                  <li class="list-group-item justify-content-between">
                      Having people's recognition.
                      <span class="badge badge-primary badge-pill">16</span>
                  </li>
              </ul>
          </div>
          <!--/.Card content-->

      </div>
      <!--/.Card-->
    </div>
  </div>
  <!--/.Row-->
</div>

<!-- Drivers Recommended resources -->
<div class="container animated fadeInRight" >

  <div class="divider-new mt-0">
    <h1 class="display-4 animated fadeInDown text-center">Recomended resources</h1>
  </div>

  <blockquote class="blockquote">
    <p class="mb-0">Watch this video by Dan Pink: “The surprising truth about what motivates us”</p>
    <footer class="blockquote-footer">Original source: <cite title="Source Title">
      <a href="http://ed.ted.com/featured/lt8oqqto">http://ed.ted.com/featured/lt8oqqto</a>
    </cite></footer>
  </blockquote>
  
  <blockquote class="blockquote">
    <p class="mb-0">Read this article by Harvard Business Review: “The power of small wins”</p>
    <footer class="blockquote-footer">Original source: <cite title="Source Title">
      <a href="https://hbr.org/2011/05/the-power-of-small-wins">https://hbr.org/2011/05/the-power-of-small-wins</a>
    </cite></footer>
  </blockquote>
  
  <blockquote class="blockquote">
    <p class="mb-0">Watch this video by Jack Ma: "Motivation for Success:"</p>
    <footer class="blockquote-footer">Original source: <cite title="Source Title">
      <a href="https://www.youtube.com/watch?v=KUrNlmbSZs4">https://www.youtube.com/watch?v=KUrNlmbSZs4</a>
    </cite></footer>
  </blockquote>
  
  <hr>

</div>

<div class="section container">

  <div class="divider-new mt-0">
    <h1 class="display-4 animated fadeInDown text-center">What frightens you?</h1>
  </div>

  <div class="row mb-r">
    <!--Col-->
    <div class="col-md-4">
      <!--Card-->
      <div class="card animated fadeInLeft">

          <!--Card image-->
          <div class="gradient-fear01">
            
            <h4 style="padding-top:4em;color:white;text-align:center">These fears could motivate you!</h4>
          
          </div>
          <!--/.Card image-->

          <!--Card content-->
          <div class="card-block">
              <!--Text-->
              <p class="card-text">Reframe all your decisions to solve these fears.</p>
              <ul class="list-group">
                  <li class="list-group-item justify-content-between">
                      Losing money. 
                      <span class="badge badge-primary badge-pill">1</span>
                  </li>
                  <li class="list-group-item justify-content-between">
                      Not considering new ideas.
                      <span class="badge badge-primary badge-pill">2</span>
                  </li>
              </ul>
          </div>
          <!--/.Card content-->

      </div>
      <!--/.Card-->
    </div>
    <!--/.Col-->
    <!--Col-->
    <div class="col-md-4">
      <!--Card-->
      <div class="card animated fadeInLeft">

          <!--Card gradient-->
          <div class="gradient-fear02">
          
            <h4 style="padding-top:3.5em;color:white;text-align:center">This driver can help you, but does not have the punch you need!</h4>
          
          </div>
          <!--/.Card gradient-->

          <!--Card content-->
          <div class="card-block"> 
              <!--Text-->
              <p class="card-text">Just check them out: won't stop you, but could slow you down!</p>
              <ul class="list-group">
                  <li class="list-group-item justify-content-between">
                      Making a fool of myself. 
                      <span class="badge badge-primary badge-pill">3</span>
                  </li>
                  <li class="list-group-item justify-content-between">
                      Not being capable enough. 
                      <span class="badge badge-primary badge-pill">4</span>
                  </li>
                  <li class="list-group-item justify-content-between">
                      Losing my time.
                      <span class="badge badge-primary badge-pill">5</span>
                  </li>
              </ul>
          </div>
          <!--/.Card content-->

      </div>
      <!--/.Card-->
    </div>
    <!--/.Col-->
    <!--Col-->
    <div class="col-md-4">
      <!--Card-->
      <div class="card animated fadeInLeft">

        <!--Card gradient-->
        <div class="gradient-fear03">
        
          <h4 style="padding-top:3.5em;color:white;text-align:center">Caution: this is a false driver. Won't get you to the finish line.</h4>
        
        </div>
        <!--/.Card gradient-->

          <!--Card content-->
          <div class="card-block">
              <!--Text-->
              <p class="card-text">Have you heard of self-sabotage? These are the culprits: don't listen to them!</p>
              <ul class="list-group">
                  <li class="list-group-item justify-content-between">
                      Not getting the proper employees.
                      <span class="badge badge-primary badge-pill">6</span>
                  </li>
                  <li class="list-group-item justify-content-between">
                      Suffering fraud.
                      <span class="badge badge-primary badge-pill">7</span>
                  </li>
                  <li class="list-group-item justify-content-between">
                      Making wrong choices. 
                      <span class="badge badge-primary badge-pill">8</span>
                  </li>
                  <li class="list-group-item justify-content-between">
                      Not to know where to start. 
                      <span class="badge badge-primary badge-pill">9</span>
                  </li>
                  <li class="list-group-item justify-content-between">
                      Taking responsability.
                      <span class="badge badge-primary badge-pill">10</span>
                  </li>
              </ul>
          </div>
          <!--/.Card content-->

      </div>
      <!--/.Card-->
    </div>
    <!--/.Col-->
  </div>
  <!--/.Row-->
</div>

<br>
<br>

<!-- Risk Management Index -->
<div class="container animated fadeInRight" >
  <div class="row">
    <div class="col-md-12">
      <div class="divider-new mt-0">
        <h1 class="display-4">Your Risk Management index</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 text-center white-text purple lighten-2">
      <br>
      <br>
      <br>
      <h1 class="display-3">87/100</h1>
      <br>
      <br>
    </div>
    <div class="col-md-6 blue-grey lighten-5">
      <br>
      <p><b>You have a good risk management capacity!</b></p>
      <p>We recommend you to push yourself to define and tackle big challenges and to do things that 
        push you outside your confort zone. Also, you have to make sure you understand where are you standing:
        how big is your risk, what are the possible consequences you may face. For you, knowing is power.
      </p>
    </div>
  </div>
</div>

<!-- /Risk Management Index -->


<br>
<br>

<!-- Resilience Index -->
<div class="container animated fadeInRight" >
  <div class="row">
    <div class="col-md-12">
      <div class="divider-new mt-0">
        <h1 class="display-4">Your Resilience index</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 text-center white-text purple lighten-2">
      <br>
      <br>
      <br>
      <h1 class="display-3">24/30</h1>
      <br>
      <br>
    </div>
    <div class="col-md-6 blue-grey lighten-5">
      <br>
      <p><b>You are in good shape, keep pushing yourself to become more and more resiliente every time.</b></p>
      <p>We recommend you to investigate biographies of other super resilient people, just like Tim Guénard or Karla Wheelock</p>
    </div>
  </div>
</div>
<!-- /Resilience Index -->

<br>

<div class="container animated fadeInRight" >
  
  <div class="divider-new mt-0">
    <h1 class="display-4 animated fadeInDown text-center">Recomended resources</h1>
  </div>
  
  <blockquote class="blockquote">
    <p class="mb-0">Read this article by Harvard Business Review:  “The emotions that makes us more creative”</p>
    <footer class="blockquote-footer">Original source: <cite title="Source Title">
      <a href="https://hbr.org/2015/08/the-emotions-that-make-us-more-creative">https://hbr.org/2015/08/the-emotions-that-make-us-more-creative</a>
    </cite></footer>
  </blockquote>
  
  <blockquote class="blockquote">
    <p class="mb-0">Read this book by Richard Branson: "Screw it: let's do it!"</p>
    <footer class="blockquote-footer">Original source: <cite title="Source Title">
      <a href="http://amzn.to/2pyLBfz">http://amzn.to/2pyLBfz</a>
    </cite></footer>
  </blockquote>
  
  <blockquote class="blockquote">
    <p class="mb-0">Watch this video by Jack Ma: "Harvard rejected me ten times:"</p>
    <footer class="blockquote-footer">Original source: <cite title="Source Title">
      <a href="https://www.youtube.com/watch?v=6SuFGpYQt0E">https://www.youtube.com/watch?v=6SuFGpYQt0E</a>
    </cite></footer>
  </blockquote>
  
  <blockquote class="blockquote">
    <p class="mb-0">Read this book by Daniel Sullivan: "The 4 C's formula"</p>
    <footer class="blockquote-footer">Original source: <cite title="Source Title">
      <a href="https://private.strategiccoach.com/store/products/186">https://private.strategiccoach.com/store/products/186</a>
    </cite></footer>
  </blockquote>

</div>

<!-- Recommendation Grid -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="divider-new mt-0">
        <h1 class="display-4 animated fadeInRight">My business opportunities</h1>
      </div>
    </div>
  </div>
</div>
<div class="container text-center animated fadeInRight">
  <table class="table table-bordered">
    <thead>
    <tr class="white-text">
      <th class="purple lighten-2"></th>
      <th class="purple lighten-2">Energy</th>
      <th class="purple lighten-2">Health</th>
      <th class="purple lighten-2">Governance</th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-left">
      <td class="purple white-text">Nanotech
      </td>
      <td>Solve Energy through tech
        <br>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
      </td>
      <td>Solve Health through tech
        <br>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
      </td>
      <td>Solve Governance through tech
        <br>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
      </td>
    </tr>
    <tr class="text-left">
      <td class="purple white-text">New BM
      </td>
      <td>Solver Energy through New BM
        <br>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
      </td>
      <td>Solve Health through New BM
        <br>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
      </td>
      <td>Solve Governance through new BM
        <br>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
      </td>
    </tr>
    <tr class="text-left">
      <td class="purple white-text">Social Networks
      </td>
      <td>Solve Energy through SN
        <br>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
      </td>
      <td>Solve Health through SN
        <br>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
      </td>
      <td>Solve Governance through SN
        <br>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<!-- /Recommendation Grid -->

<div class="container">
  <hr>
  <h1 style="text-align:center" class="display-4">... Coming soon! Design the business model of the opportunity you selected</h1>
</div>

<app-usuariofooter></app-usuariofooter>
