<!--Navbar-->
<nav class="navbar navbar-dark fixed-top scrolling-navbar navbar-toggleable-md">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapseEx2" aria-controls="collapseEx2" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/home">
      <img src="assets/logo100blanco.png">
    </a>
    <div class="collapse navbar-collapse" id="collapseEx2">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/usuario/home">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="https://eudoxa.mx/about/" target="_blank">About Us</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="https://eudoxa.mx/contactanos/" target="_blank">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--/.Navbar-->
