<br>
<br>
<br>
<div class="container z-depth-5 animated fadeInDown">
  <div class="row">
      <div id="fondillo" class="col-md-12 hm-black-strong text-center">
        <br>
        <br>
        <br>
        <br>
        <img src="assets/usuario01.jpg" class="rounded-circle">
        <br>
        <br>
      </div>
  </div>
</div>
<div id="red" class="container text-center z-depth-5 animated fadeInUp">
  <div class="row">
    <div class="col-md-12 text-center white-text">
      <br>
      <h1 class="display-4" id="letra"><strong>Santa Martha de la Cruz</strong></h1>
      <h2 id="letra">I am a Philantrophist</h2>
      <p></p>
      <hr class="hrprofile">
      <h4>I want to solve the lack of Prosperity using 3d Printing.</h4>
      <!--
      <h5 id="phrase"><em>To do so I will have to overcome this fears: [fear 1], [fear 2]</em></h5>
      <h5 id="phrase"><em>and will do so leveraging these personal strengths: [S1], [S2], [S3].</em></h5>
      -->
      <br>
    </div>
  </div>
</div>
<br>
<br>
<br>
<div class="container animated fadeInUp big">
  <div class="row">
    <div class="col-md-12">
      <h1 class="display-4 animated fadeInUp">Recommendations</h1>
    </div>
  </div>
</div>

<div class="container animated fadeInUp">
  <div class="row">
    <div class="col-md-4">
      <!--Card-->
      <div class="card hoverable">

        <!--Card image-->
        <div class="view overlay hm-white-slight">
          <img src="assets/persona01.jpg" class="img-fluid" alt="">
          <a href="#">
            <div class="mask waves-effect waves-light"></div>
          </a>
        </div>
        <!--/.Card image-->

        <!--Card content-->
        <div class="card-block yellow darken-3">
          <!--Title-->
          <h4 class="card-title">Hector Sanchez</h4>
          <!--Text-->
          <p>Achiever</p>
          <p class="card-text">I want to solve the lack of Prosperity using 3d Printing.</p>
          <a class="btn btn-primary">Get in touch</a>
        </div>
        <!--/.Card content-->

      </div>
      <!--/.Card-->
    </div>
    <div class="col-md-4">
      <!--Card-->
      <div class="card hoverable">

        <!--Card image-->
        <div class="view overlay hm-white-slight">
          <img src="assets/persona02.jpg" class="img-fluid" alt="">
          <a href="#">
            <div class="mask waves-effect waves-light"></div>
          </a>
        </div>
        <!--/.Card image-->

        <!--Card content-->
        <div class="card-block purple lighten-2">
          <!--Title-->
          <h4 class="card-title">Fernando Rincon</h4>
          <!--Text-->
          <p>Free Spirit</p>
          <p class="card-text">I want to solve the lack of Prosperity using 3d Printing.</p>
          <a class="btn btn-primary">Get in touch</a>
        </div>
        <!--/.Card content-->

      </div>
      <!--/.Card-->
    </div>
    <div class="col-md-4">
      <!--Card-->
      <div class="card hoverable">

        <!--Card image-->
        <div class="view overlay hm-white-slight">
          <img src="assets/persona03.jpg" class="img-fluid" alt="">
          <a href="#">
            <div class="mask waves-effect waves-light"></div>
          </a>
        </div>
        <!--/.Card image-->

        <!--Card content-->
        <div class="card-block teal lighten-1">
          <!--Title-->
          <h4 class="card-title">Samuel Garza</h4>
          <!--Text-->
          <p>Socializer</p>
          <p class="card-text">I want to solve the lack of Prosperity using 3d Printing.</p>
          <a  class="btn btn-primary">Get in touch</a>
        </div>
        <!--/.Card content-->

      </div>
      <!--/.Card-->
    </div>
  </div>
</div>

<br>

<!--Footer-->
<footer class="page-footer blue center-on-small-only indigo darken-4">

  <!--Footer Links-->
  <div class="container-fluid ">
    <div class="row">

      <!--First column-->
      <div class="col-md-6">
        <h5 class="title">Eudoxa.mx</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <!--/.First column-->

      <!--Second column-->
      <div class="col-md-6">
        <h5 class="title">Links</h5>
        <ul>
          <li><a href="#!">Home</a></li>
          <li><a href="#!">Full Profile</a></li>
          <li><a href="#!">Lectures</a></li>
        </ul>
      </div>
      <!--/.Second column-->
    </div>
  </div>
  <!--/.Footer Links-->

  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      © 2017 Copyright: <a href="http://www.eudoxa.mx" target="_blank"> Eudoxa.mx</a>

    </div>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->
