<!--Footer-->
<footer class="page-footer blue center-on-small-only indigo darken-4">

  <!--Footer Links-->
  <div class="container-fluid ">
    <div class="row">

      <!--First column-->
      <div class="col-md-6">
        <h5 class="title">Eudoxa.mx</h5>
        <p>Eudoxa es una consultora mexicana que tiene como misión impulsar la creación, el crecimiento y la innovación de empresas e instituciones culturales y sociales.</p>
      </div>
      <!--/.First column-->


    </div>
  </div>
  <!--/.Footer Links-->

  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      © 2017 Copyright: <a href="http://www.eudoxa.mx" target="_blank"> Eudoxa.mx</a>

    </div>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->
