<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="display-4 animated fadeInDown">Lectures</h1>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <!--Card-->
      <div class="card animated fadeInRight">

        <!--Card image-->
        <div class="view overlay hm-white-slight">
          <img src="assets/libro03.jpg" alt="">
          <a href="#">
            <div class="mask waves-effect waves-light"></div>
          </a>
        </div>
        <!--/.Card image-->

        <!--Card content-->
        <div class="card-block">
          <!--Title-->
          <h4 class="card-title">Harry Potter and the Sorcerer's Stone</h4>
          <!--Text-->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">To Read</a>
        </div>
        <!--/.Card content-->

      </div>
      <!--/.Card-->
    </div>
    <div class="col-md-4">
      <!--Card-->
      <div class="card animated fadeInRight">

        <!--Card image-->
        <div class="view overlay hm-white-slight">
          <img src="assets/libro04.jpg" class="img-fluid" alt="">
          <a href="#">
            <div class="mask waves-effect waves-light"></div>
          </a>
        </div>
        <!--/.Card image-->

        <!--Card content-->
        <div class="card-block">
          <!--Title-->
          <h4 class="card-title">Harry Potter and the Globet of Fire</h4>
          <!--Text-->
          <p class="card-text">Some text and more text. More and more text. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">To Read</a>
        </div>
        <!--/.Card content-->

      </div>
      <!--/.Card-->
    </div>
    <div class="col-md-4">
      <!--Card-->
      <div class="card animated fadeInRight">

        <!--Card image-->
        <div class="view overlay hm-white-slight">
          <img src="assets/libro05.jpg" class="img-fluid" alt="">
          <a href="#">
            <div class="mask waves-effect waves-light"></div>
          </a>
        </div>
        <!--/.Card image-->

        <!--Card content-->
        <div class="card-block">
          <!--Title-->
          <h4 class="card-title">Harry Potter and the Deathly Hallows</h4>
          <!--Text-->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Button</a>
        </div>
        <!--/.Card content-->

      </div>
      <!--/.Card-->
    </div>
  </div>
</div>

<br>

<app-usuariofooter></app-usuariofooter>
