<!--Navbar-->
<nav id="barracolor" class="navbar navbar-toggleable-md navbar-dark fixed-top">
  <div id="barracolor" class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="home">
      <strong>Eudoxa Ai</strong>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav1">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" routerLinkActive="active">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="profile">Full Profile</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="lecturas">Lectures</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <!--
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" routerLink="mensajes">
            <i class="fa fa-envelope"></i> 1 new message
          </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" routerLink="../home">
            <i class="fa fa-sign-out"></i> Sign Out
          </a>
        </li>
      </ul>

    </div>
  </div>
</nav>
