html,
body,
.view {
  height: 100%;
}

.view {
  background: url("http://www.richlira.com/eudoxa/fondo02.png")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.flex-center {
  color: #fff;
}

#contact .fa {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331;
  }
}



/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
