<app-barra></app-barra>
<!--Mask-->
<div class="view">
  <!--Intro content-->
  <div class="full-bg-img flex-center">
    <ul>
      <li>
        <h1 class="h1-responsive animated fadeInDown white-text">Access to your success</h1></li>
      <li>
        <br>
      </li>
      <li class="col-md-12">
        <div class="md-form text-left animated fadeInDown">
          <i class="fa fa-envelope prefix"></i>
          <input type="text" id="form2" class="form-control">
          <label for="form2">Your email</label>
        </div>
      </li>
      <li>
        <button type="button" class="btn btn-success animated fadeInUp" routerLink="/usuario"><i class="fa fa-sign-in" aria-hidden="true"> </i> Sign in</button>
      </li>
    </ul>

  </div>
  <!--/Intro content-->
</div>
<!--/.Mask-->


<!--Footer-->
<footer class="page-footer center-on-small-only" style=" margin-top: 0px;">

  <!--Footer Links-->
  <div class="container">
    <div class="row">

      <!--First column-->
      <div class="col-md-8">
        <h5 class="title">Eudoxa.mx</h5>
        <p>Eudoxa es una consultora mexicana que tiene como misión impulsar la creación, el crecimiento y la innovación de empresas e instituciones culturales y sociales.</p>
      </div>
      <!--/.First column-->

      <!--Third column-->
      <div class="col-md-4">
        <h5 class="title">LINKS</h5>
        <ul>
          <li><a href="https://eudoxa.mx/" target="_blank">Home</a></li>
          <li><a href="https://eudoxa.mx/about/" target="_blank">About Us</a></li>
          <li><a href="https://eudoxa.mx/contactanos/" target="_blank">Contact Us</a></li>
        </ul>
      </div>
      <!--/.Third column-->

      <hr class="hidden-md-up">

    </div>
  </div>
  <!--/.Footer Links-->

  <hr>

  <!--Call to action-->
  <div class="call-to-action">
    <ul>
      <li>
        <h5>Contact Us</h5></li>
      <li><a target="_blank" href="https://www.facebook.com/Eudoxa/" target="_blank" class="btn btn-danger">Facebook</a></li>
      <li><a target="_blank" href="https://twitter.com/Eudoxa" target="_blank" class="btn btn-default">Twitter</a></li>
    </ul>
  </div>
  <!--/.Call to action-->

  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      © 2017 Copyright: <a href="https://eudoxa.mx/"> Eudoxa.mx </a>

    </div>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->
