<app-barra></app-barra>
<!--Mask-->
<div class="view">
  <!--Intro content-->
  <div class="full-bg-img">
    <div class="container flex-center animated fadeInUp">
  		<div class="jumbotron no-padding width-parent">
  			<div class="row no-margin">
  			<div class="col no-padding no-overflow">

          <!-- Left card background settings -->
  				<div class="bg-settings">
  					<img class="inline-block" src="/assets/bg.jpg">
  				</div>
          <!-- /Left card background settings -->

  				<div class="absolute gradient height-parent p-50">
  		    <h1 class="display-2" style="font-weight:400"><strong>Vision.</strong></h1>
  		    <p class="left-card-intro">We contribute to eradicate poverty and create prosperity in the world through creative thinking and entrepreneurship.</p>
  		    <hr class="my-2">
  		    <p class="lead">
  		      <a class="btn btn-primary btn-rounded btn-rounded-lg" href="https://www.facebook.com/Eudoxa/" target="_blank" role="button"><i class="fa fa-facebook" style="padding:0 3px" aria-hidden="true"></i></a>
  					<a class="btn btn-info btn-rounded btn-rounded-lg" href="https://twitter.com/Eudoxa" target="_blank" role="button"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a class="btn btn-light-green btn-rounded btn-rounded-lg" href="https://medium.com/@EudoxaEnglish/latest" target="_blank" role="button"><i class="fa fa-medium" aria-hidden="true"></i></a>
  		    </p>
  			</div>
  			</div>
  			<div class="col">
  				<!--Naked Form-->
  				<div class="card-block p-50">

  				    <!--Header-->

  				    <h1 class="display-2 mb-2 black-text" style="font-weight:400"><strong>Login.</strong></h1>

  				    <!--Body-->
  				    <div class="md-form">
  				        <input #email id="email" type="text" class="form-control">
  				        <label for="email">Your email</label>
  				    </div>
              
              <blockquote id="validation-form" class="hide blockquote bq-danger">
                  <p class="no-padding bq-title">Wrong credentials!</p>
              </blockquote>

  				    <div class="hide md-form" style="margin-bottom:2rem">
  				        <input #password id="password" type="password" class="form-control">
  				        <label for="password">Your password</label>
  				    </div>
              

  		
  				    <button (click)="clicked(email, password)" class="no-margin btn btn-light-green">Login</button>
  	
  				</div>
  			</div>
  		</div>
  		</div>
  	</div>
  <!--/Intro content-->
</div>
<!--/.Mask-->


<!--Footer-->
<footer>
  <div class="container">
    <ul class="no-margin">
      <li><a href="http://www.eudoxa.mx" target="_blank">2017 © eudoxa.mx</a></li>
    </ul>
  </div>
</footer>
<!--/.Footer-->
